@import "tailwindcss";

:root {
  --background: #fafaf8;
  --foreground: rgb(13, 34, 54);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
